<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY IOT PROJECT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <style>
        #heading {
            background-color: rgb(43, 226, 195);
            height: 70px;
            text-align: center;
            font-size: 200%;

        }

        .img-style {
            height: 300px;
            width: 300px;
        }

        .button-style {
            height: 50px;
            width: 90px;
        }

        .center-div {
            text-align: center;
        }
        .logout{
            font-size: 20px;
            background-color: rgb(34, 131, 155);
            padding: 10px;
            border-radius: 5px;
        }
    </style>
    <script>
        let x = 0;
        console.log("window", window.location)
        let url = `${window.location.origin}/switch`;
        setInterval(() => {
            //console.log("===1=>>")
            checkStatus();
        }, 1000);
        async function logout(){
            localStorage.clear();
            window.location.href = "/signin";
        }
        async function loginCheck(){
            let isLogin = localStorage.getItem("token");
            console.log("isLogin",isLogin);
            if(!isLogin){
                window.location.href = '/signin'
            }
            let header=document.getElementById('heading');
            isLogin=JSON.parse(isLogin)
            console.log("isLogin",isLogin);
            if(isLogin.role=='admin'){
                console.log("==header==>>>",header);
                header.innerHTML+='<span class="float-end logout m-2"><a href="/admin">admin</a></span>'

            }
            checkStatus();
        }
        async function bulb(e) {
            console.log("bulb==>>", e);
            let b = document.getElementById('light');
            let button = document.getElementById('button-style');
            if (x == 0) {
                await onOff(e);
                // console.log(b.src);
                // b.src = "on.jpg";
                // button.innerHTML = "on"
                // x = 1;
                await checkStatus();

            } else {
                await onOff(e);
                // console.log(b.src);
                // b.src = "off.jpg";
                // x = 0;
                // button.innerHTML = "off"
                await checkStatus();

            }
        }
        async function onOff(s) {
            try {
                let token=localStorage.getItem("token")
                if (s == 1) {
                    let response = await fetch(url + '?switch=1', {
                        method: 'POST',
                        headers:{
                            authorization:token
                        }
                    })
                    const jsonData = await response.json();
                    console.log("11111",jsonData);
                    if(jsonData.data&&jsonData.data=="unauthorized"){
                        localStorage.clear();
                        window.location.href = "/signin";
                    }
                } else {
                    let response = await fetch(url + '?switch=2', {
                        method: 'POST',
                        headers:{
                            authorization:token
                        }
                    })
                    const jsonData = await response.json();
                    console.log("22222",jsonData);
                    if(jsonData.data&&jsonData.data=="unauthorized"){
                        localStorage.clear();
                        window.location.href = "/signin";
                    }
                }

            } catch (err) {
                console.log(err)
            }
        }
        async function checkStatus() {
            console.log("Checking status...")
            const response = await fetch(url);
            const jsonData = await response.json();
          //  console.log("===>>>", jsonData);
            // if (jsonData[0]["Id"] == 1) {
            //     x=jsonData[0]['status'];
            //     console.log("bulb 1 status",x)
            //     let b = document.getElementById('light1');
            //     let button = document.getElementById('button-style1');
            //     if (x == 0) {
            //         b.src = "off.jpg";
            //         button.innerHTML = "off"
            //     } else {
            //         b.src = "on.jpg";
            //         button.innerHTML = "on"
            //     }
            // }

            // if (jsonData[1]["Id"] == 2) {
            //     x=jsonData[1]['status'];
            //     console.log("bulb 2 status",x)
            //     let b = document.getElementById('light2');
            //     let button = document.getElementById('button-style2');
            //     if (x == 0) {
            //        // b.src = "off.jpg";
            //         button.innerHTML = "off"
            //     } else {
            //        // b.src = "on.jpg";
            //         button.innerHTML = "on"
            //     }
            // }
            // x = jsonData[0]["status"];
            // let b = document.getElementById('light');
            // let button = document.getElementById('button-style');
            // if (x == 0) {
            //     b.src = "off.jpg";
            //     button.innerHTML = "off"
            // } else {
            //     b.src = "on.jpg";
            //     button.innerHTML = "on"
            // }

        }
    </script>
</head>

<body onload="loginCheck()">
    <div id="heading">My IOT Project <span class="float-end logout m-2" onclick="logout()" >logout</span></div>
    <div class="container ">
        <div class="row">
            <div class="col border m-2 p-2">
                <div class="center-div">
                    <div>light 1</div>
                    <!-- <img id="light1" src="./off.jpg" class="img-style"> -->
                    <div style="text-align: center;">

                        <button onclick="bulb(1)" class="button-style" id="button-style1">Switch1
                        </button>
                    </div>
                </div>
            </div>
            <div class="col border m-2 p-2">
                <div class="center-div">
                    <div>light 2</div>
                    <!-- <img id="light2" src="./off.jpg" class="img-style"> -->
                    <div style="text-align: center;">

                        <button onclick="bulb(2)" class="button-style" id="button-style2">Switch2
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="center-div">
        <img id="light" src="./off.jpg" width="400" height="400">
        <div style="text-align: center;"><button onclick="bulb()" id="button-style">On
            </button>
        </div>
    </div> -->
</body>

</html>